/* import Roboto 400 + 700*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: darkslateblue;
}
